.col {
  @mixin atSmall {
    &-md-8-smaller {
      width: 63% !important;
      max-width: 63% !important;
      min-width: 63% !important;
    }
    &-md-4-larger {
      width: 37% !important;
      max-width: 37% !important;
      min-width: 37% !important;
    }
  }

  &--b-margin-until-medium {
    margin-bottom: 1rem;

    @mixin atMedium {
      margin-bottom: 0;
    }
  }

  &--no-x-padding-until-large {
    padding-left: 0;
    padding-right: 0;
    @mixin atLarge {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &--b-margin-until-large {
    margin-bottom: 1rem;

    @mixin atLarge {
      margin-bottom: 0;
    }
  }
}
