.row {
  margin: 0;

  &--t-padding {
    padding-top: 80px;
  }

  @mixin atMedium {
    &--stretch-at-medium {
      display: flex;
      align-items: stretch;
    }

    &--stretch-at-medium > div {
      display: flex;
    }
  }

  @mixin atLarge {
    &--stretch-at-large {
      display: flex;
      align-items: stretch;
    }

    &--stretch-at-large > div {
      display: flex;
    }
  }

  @mixin atLarge {
    &--gutters-large {
      margin-left: -85px;
    }

    &--gutters-large > div {
      padding-left: 85px;
    }

    &--gutters {
      margin-left: -50px;
    }

    &--gutters > div {
      padding-left: 50px;
    }

    &--gutters-small {
      margin-left: -30px;
    }

    &--gutters-small > div {
      padding-left: 30px;
    }
  }
}
